.cart-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.cart-container h1 {
  margin-bottom: 20px;
}


.empty-cart {
  text-align: center;
  padding: 40px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.empty-cart button {
  background: #003f88 ;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}


.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  gap: 15px;
}

.cart-item img {
  with: 100px;
  height: 100px;
  object-fit: cover;
}

.item-detail {
  flex: 1;
}


.quantity-controls {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.quantity-controls input {
  width: 50px;
  text-align: center;
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.remove-btn {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

.cart-summary {
  margin-top: 20px;
  background: #fff;
  padding: 15px;
  text-align: right;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.checkout-btn {
  background: #caf0f8;
  color: white;
   padding: 10px 20px;
  border: none;
  cursor: pointer;
} 

.checkout-btn:hover {
  background: #f1f8ff;
}


